body{font-family: 'Poppins', sans-serif; margin: 0px; padding: 0px;}
h1{font-size: 40px; padding: 5px; } 
.projit{color: orange;}
.flexiable-container{display: flex; margin-bottom: 150px;}
.half-width{width: 50%; padding-left: 2%;}
.half-width img{width: 70%;}
.link-button{text-decoration: none; background-color:tomato; background-image: linear-gradient(orange tomato); padding: 10px 30px; border-radius: 5px; color: white; font-weight: 700;}
.top-banner{background-image: url(images/top-banner.png); background-repeat:  no-repeat;}
.dream-big{background-image: url(images/dream-bg.png); background-repeat: no-repeat; background-position: right;}


